[user]
	email = kylerobertkovacs@gmail.com
    name = Kyle Kovacs
[core]
    editor = nvim
    fsmonitor = true
    untrackedcache = true
    preloadindex = true
[delta]
    line-numbers = true
    ; a good built-in theme if kanagawa is not installed. To install it, download the file and install in batcat first
    ;syntax-theme = Catppuccin Macchiato
    syntax-theme = kanagawa
    ; can use these to remove the background line highlights
    ;minus-style = syntax normal
    ;plus-style = syntax normal
[init]
    defaultBranch = main
[diff]
    tool = nvim
    guitool = kdiff3
    context = 10
[merge]
    tool = nvim
    ;tool = vimdiff
[mergetool "nvim"]
    cmd = nvim -c "DiffviewOpen"
[mergetool]
    keepBackup = false
[alias]
    f = fetch --all --prune --progress --tags
    jump = !~/.config/git/git-jump.sh
    dr = push origin --delete
    d = branch -D
[rebase]
	instructionFormat = (%an <%ae>) %s
