[user]
	email = kylerobertkovacs@gmail.com
    name = Kyle Kovacs
[core]
    editor = vim
    fsmonitor = true
    untrackedcache = true
    preloadindex = true
[init]
    defaultBranch = main
[diff]
    tool = kdiff3
[merge]
    tool = nvim
    ;tool = vimdiff
[mergetool "nvim"]
    cmd = nvim -c "DiffviewOpen"
[mergetool]
    keepBackup = false
[alias]
    f = fetch --all --prune --progress --tags
    jump = !~/.config/git/git-jump.sh
[rebase]
	instructionFormat = (%an <%ae>) %s
